openapi: 3.1.0
info:
  version: 2.1.0
  title: Sourcify APIv2
  description: "Welcome to the Sourcify's APIv2.\n\nImportant differences between the deprecated legacy API and the new APIv2:\n- **Ticketing**: The verfication requests resolve into tickets/verification jobs. \n  - Previously the verification happened during the HTTP request, which resulted in timeouts if compilation took longer\n- **Standard JSON as default**: In the current design we take the standard JSON format as our main verification endpoint. Other methods such as \"multi-file\" or \"single-file\" should be handled by frontends or tooling to format into std-json. We still support verification with metadata at `/v2/verify/metadata`.\n- **Lean API**: We keep the number of endpoints minimal compared to v1. We won't have a session API. \n- **Detailed contract response**: Prev. we only returned contract files of a contract. Now we can return details at `/contract/{chainId}/{address}`.\n\nBy submitting source code for verification, you grant Sourcify (and the Argot Collective) a non-exclusive, worldwide, irrevocable, royalty-free licence to reproduce, store, and publicly display the submitted source code for the purposes of verification, archival, and public inspection."
  license:
    name: MIT
    url: https://github.com/argotorg/sourcify/blob/master/LICENSE
  contact:
    name: Sourcify
    url: https://sourcify.dev
    email: hello@sourcify.dev
servers:
- url: https://sourcify.dev/server
  description: Production server
tags:
- name: Contract Lookup
  description: API v2 - Tools and endpoints for looking up contract information
- name: Verify Contracts
  description: API v2 - Submit a contract for verification
- name: Verification Jobs
  description: API v2 - Check the status of a verification job
- name: Other
  description: General server endpoints
paths:
  /v2/verify/{chainId}/{address}:
    post:
      tags:
      - Verify Contracts
      summary: Verify Contract (Standard JSON)
      description: 'Submit a contract for verification via the [Solidity standard JSON input](https://docs.soliditylang.org/en/latest/using-the-compiler.html#input-description), [Vyper JSON input](https://docs.vyperlang.org/en/stable/compiling-a-contract.html#input-json-description), or Fe JSON input (a Sourcify-defined format — Fe has no official compiler JSON interface).


        There are no "single file" or "multi-part" verification endpoints because those are essentially wrappers around the Solidity compiler''s JSON interface. The verification frontend can provide files and settings options to resemble these.


        You can optionally pass the `creationTransactionHash` to make Sourcify reliably fetching the creation bytecode. Otherwise, it will try to fetch it itself which is dependent on external services.


        **Note**: The `outputSelection` field in the `stdJsonInput.settings` will be overridden during verification to ensure all necessary artifacts are generated.'
      operationId: verify
      parameters:
      - name: chainId
        in: path
        description: The chainId number of the EVM chain
        required: true
        schema:
          type: string
          pattern: ^\d+$
          minLength: 1
          maxLength: 20
          example: '11155111'
      - name: address
        in: path
        description: Contract's 20 byte address in hex string with the 0x prefix. Case insensitive.
        required: true
        schema:
          type: string
          pattern: (\b0x[a-fA-F0-9]{40}\b)
          minLength: 42
          maxLength: 42
          example: '0x2738d13E81e30bC615766A0410e7cF199FD59A83'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                stdJsonInput:
                  type: object
                  description: "Full [standard JSON object](https://docs.soliditylang.org/en/latest/using-the-compiler.html#input-description) to pass to the compiler. \n\nMust include the `language` field inside the stdJsonInput object. Currently supports Solidity, Vyper, and Fe.\n"
                compilerVersion:
                  type: string
                  title: CompilerVersion
                  pattern: ^v?\d+\.\d+\.\d+.*$
                  example: 0.8.7+commit.e28d00a7
                contractIdentifier:
                  type: string
                  description: The fully qualified file path and contract name to indicate which contract to verify, in the format `path/to/file:ContractName`.
                  example: contracts/Storage.sol:Storage
                creationTransactionHash:
                  allOf:
                  - type: string
                    title: Keccak256
                    pattern: (\b0x[a-f0-9]{64}\b)
                    example: '0xb6ee9d528b336942dd70d3b41e2811be10a473776352009fd73f85604f5ed206'
                  - description: The hash of the transaction that created this contract. Optional.
              required:
              - stdJsonInput
              - compilerVersion
              - contractIdentifier
            examples:
              Solidity Contract:
                value:
                  stdJsonInput:
                    language: Solidity
                    sources:
                      contracts/Storage.sol:
                        content: "// SPDX-License-Identifier: MIT\npragma solidity ^0.8.0;\n\ncontract Storage {\n    uint256 number;\n\n    function setNumber(uint256 newNumber) public {\n        number = newNumber;\n    }\n\n    function getNumber() public view returns (uint256) {\n        return number;\n    }\n}\n"
                    settings:
                      optimizer:
                        enabled: false
                        runs: 200
                  compilerVersion: 0.8.7+commit.e28d00a7
                  contractIdentifier: contracts/Storage.sol:Storage
                  creationTransactionHash: '0xb6ee9d528b336942dd70d3b41e2811be10a473776352009fd73f85604f5ed206'
              Vyper Contract:
                value:
                  stdJsonInput:
                    language: Vyper
                    sources:
                      MyVyperContract.vy:
                        content: "\nnumber: public(uint256)\n\n@external\ndef __init__():\n    self.number = 0\n\n@external\ndef setNumber(newNumber: uint256):\n    self.number = newNumber\n\n@view\n@external\ndef getNumber() -> uint256:\n    return self.number\n"
                    settings:
                      optimize: gas
                      evmVersion: cancun
                  compilerVersion: 0.3.10+commit.91361694
                  contractIdentifier: MyVyperContract.vy:MyVyperContract
                  creationTransactionHash: '0xb6ee9d528b336942dd70d3b41e2811be10a473776352009fd73f85604f5ed206'
              Vyper Contract with storage_layout_overrides:
                value:
                  stdJsonInput:
                    language: Vyper
                    sources:
                      test.vy:
                        content: "\na: public(uint256)\nb: public(uint256)\n\n@deploy\ndef __init__():\n    self.a = 1\n    self.b = 2\n"
                    settings:
                      evmVersion: cancun
                    storage_layout_overrides:
                      test.vy:
                        a:
                          type: uint256
                          slot: 1
                          n_slots: 1
                        b:
                          type: uint256
                          slot: 0
                          n_slots: 1
                  compilerVersion: 0.4.1+commit.8a93dd27
                  contractIdentifier: test.vy:test
                  creationTransactionHash: '0xb6ee9d528b336942dd70d3b41e2811be10a473776352009fd73f85604f5ed206'
              Yul Contract:
                value:
                  stdJsonInput:
                    language: Yul
                    sources:
                      cas-forwarder.yul:
                        content: "// SPDX-License-Identifier: MIT\nobject \"cas-forwarder\" {\n    code {\n        datacopy(0, dataoffset(\"runtime\"), datasize(\"runtime\"))\n        return(0, datasize(\"runtime\"))\n    }\n    object \"runtime\" {\n        code {\n            let targetAddress := shr(96, calldataload(0))\n            let codeSize := extcodesize(targetAddress)\n            extcodecopy(targetAddress, 0, 0, codeSize)\n\n            let success := call(gas(), 0xcA11bde05977b3631167028862bE2a173976CA11, 0, 0, codeSize, 0, 0)\n\n            let returnSize := returndatasize()\n            returndatacopy(0, 0, returnSize)\n\n            switch success\n            case 0 {\n                revert(0, returnSize)\n            }\n            default {\n                return(0, returnSize)\n            }\n        }\n    }\n}\n"
                    settings:
                      optimizer:
                        details:
                          yul: true
                        enabled: true
                  compilerVersion: 0.8.26+commit.8a97fa7a
                  contractIdentifier: cas-forwarder.yul:cas-forwarder
              Fe Contract:
                value:
                  stdJsonInput:
                    language: Fe
                    sources:
                      src/lib.fe:
                        content: "pub contract Counter {\n    mut count: u256\n\n    pub fn increment(mut self) {\n        self.count += 1\n    }\n\n    pub fn get(self) -> u256 {\n        return self.count\n    }\n}\n"
                  compilerVersion: 26.0.0-alpha.10
                  contractIdentifier: src/lib.fe:Counter
      responses:
        '202':
          description: "Successfully submitted the verification. The server started to process the verification. \n\nYou can follow the verification status via the returned `verificationId` at `GET /v2/verify/{verificationId}`"
          content:
            application/json:
              schema:
                type: object
                title: VerificationJob
                properties:
                  verificationId:
                    type: string
                    format: uuid
                required:
                - verificationId
        '400':
          description: Bad request from the client
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: unsupported_chain
                    message: The chain with chainId 9429413 is not supported
                    errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
        '409':
          description: The contract is already verified
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: already_verified
                    message: Contract 0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512 on chain 31337 is already verified with runtimeMatch and creationMatch both being exact matches.
                    errorId: 23aaf52e-168a-4cfa-8463-65ddfb792efc
        '429':
          description: You are sending too many requests to the server
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: too_many_requests
                    message: You are sending too many requests
                    errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: internal_error
                    message: Something went wrong
                    errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
  /v2/verify/metadata/{chainId}/{address}:
    post:
      tags:
      - Verify Contracts
      summary: Verify Contract (using Solidity metadata.json)
      description: Endpoint to submit a verification with the Solidity [metadata.json](https://docs.soliditylang.org/en/latest/metadata.html)
      operationId: verify-metadata
      parameters:
      - name: chainId
        in: path
        description: The chainId number of the EVM chain
        required: true
        schema:
          type: string
          pattern: ^\d+$
          minLength: 1
          maxLength: 20
          example: '11155111'
      - name: address
        in: path
        description: Contract's 20 byte address in hex string with the 0x prefix. Case insensitive.
        required: true
        schema:
          type: string
          pattern: (\b0x[a-fA-F0-9]{40}\b)
          minLength: 42
          maxLength: 42
          example: '0x2738d13E81e30bC615766A0410e7cF199FD59A83'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                sources:
                  type: object
                  description: A mapping from file path to its content.
                  additionalProperties:
                    type: string
                metadata:
                  type: object
                  description: The [metadata](https://docs.soliditylang.org/en/latest/metadata.html) as an object.
                creationTransactionHash:
                  allOf:
                  - type: string
                    title: Keccak256
                    pattern: (\b0x[a-f0-9]{64}\b)
                    example: '0xb6ee9d528b336942dd70d3b41e2811be10a473776352009fd73f85604f5ed206'
                  - description: The hash of the transaction that created this contract. Optional.
              required:
              - sources
              - metadata
            examples:
              Example 1:
                value:
                  sources:
                    contracts/Storage.sol: "// SPDX-License-Identifier: MIT\npragma solidity ^0.8.0;\n\ncontract Storage {\n    uint256 number;\n\n    function setNumber(uint256 newNumber) public {\n        number = newNumber;\n    }\n\n    function getNumber() public view returns (uint256) {\n        return number;\n    }\n}\n"
                    contracts/Owner.sol: "// SPDX-License-Identifier: MIT\npragma solidity ^0.8.0;\n\ncontract Owner {\n    address public owner;\n\n    constructor() {\n        owner = msg.sender;\n    }\n}\n"
                  metadata: {}
      responses:
        '202':
          description: "Successfully submitted the verification. The server started to process the verification. \n\nYou can follow the verification status via the returned `verificationId` at `GET /v2/verify/{verificationId}`"
          content:
            application/json:
              schema:
                type: object
                title: VerificationJob
                properties:
                  verificationId:
                    type: string
                    format: uuid
                required:
                - verificationId
        '400':
          description: Bad request from the client
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: unsupported_chain
                    message: The chain with chainId 9429413 is not supported
                    errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
        '409':
          description: The contract is already verified
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: already_verified
                    message: Contract 0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512 on chain 31337 is already verified with runtimeMatch and creationMatch both being exact matches.
                    errorId: 23aaf52e-168a-4cfa-8463-65ddfb792efc
        '429':
          description: You are sending too many requests to the server
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: too_many_requests
                    message: You are sending too many requests
                    errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: internal_error
                    message: Something went wrong
                    errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
  /v2/verify/etherscan/{chainId}/{address}:
    post:
      tags:
      - Verify Contracts
      summary: Import from Etherscan
      description: Import a contract verified on an Etherscan instance or a service with Etherscan-alike API
      operationId: import-from-etherscan
      parameters:
      - name: chainId
        in: path
        description: The chainId number of the EVM chain
        required: true
        schema:
          type: string
          pattern: ^\d+$
          minLength: 1
          maxLength: 20
          example: '11155111'
      - name: address
        in: path
        description: Contract's 20 byte address in hex string with the 0x prefix. Case insensitive.
        required: true
        schema:
          type: string
          pattern: (\b0x[a-fA-F0-9]{40}\b)
          minLength: 42
          maxLength: 42
          example: '0x2738d13E81e30bC615766A0410e7cF199FD59A83'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                apiKey:
                  type: string
                  description: API key to use when importing from the Etherscan instance or Etherscan-alike API.
      responses:
        '202':
          description: "Successfully submitted the verification. The server started to process the verification. \n\nYou can follow the verification status via the returned `verificationId` at `GET /v2/verify/{verificationId}`"
          content:
            application/json:
              schema:
                type: object
                title: VerificationJob
                properties:
                  verificationId:
                    type: string
                    format: uuid
                required:
                - verificationId
        '400':
          description: Bad request from the client
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: unsupported_chain
                    message: The chain with chainId 9429413 is not supported
                    errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
        '429':
          description: You've reached the API key limit for the Etherscan key.
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: etherscan_limit
                    message: Etherscan API key limit reached
                    errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: internal_error
                    message: Something went wrong
                    errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
  /v2/verify/similarity/{chainId}/{address}:
    post:
      tags:
      - Verify Contracts
      summary: Verify contract via similarity search
      description: 'Starts a verification job that searches the Sourcify database for contracts whose

        runtime bytecode is similar to the contract deployed at the given address. The job will

        attempt to verify against each candidate until a match is found or the candidate list is exhausted.

        '
      operationId: verify-similarity
      parameters:
      - name: chainId
        in: path
        description: The chainId number of the EVM chain
        required: true
        schema:
          type: string
          pattern: ^\d+$
          minLength: 1
          maxLength: 20
          example: '11155111'
      - name: address
        in: path
        description: Contract's 20 byte address in hex string with the 0x prefix. Case insensitive.
        required: true
        schema:
          type: string
          pattern: (\b0x[a-fA-F0-9]{40}\b)
          minLength: 42
          maxLength: 42
          example: '0x2738d13E81e30bC615766A0410e7cF199FD59A83'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                creationTransactionHash:
                  allOf:
                  - type: string
                    title: Keccak256
                    pattern: (\b0x[a-f0-9]{64}\b)
                    example: '0xb6ee9d528b336942dd70d3b41e2811be10a473776352009fd73f85604f5ed206'
                  - description: The hash of the transaction that created this contract. Optional.
      responses:
        '202':
          description: "Successfully submitted the verification. The server started to process the verification. \n\nYou can follow the verification status via the returned `verificationId` at `GET /v2/verify/{verificationId}`"
          content:
            application/json:
              schema:
                type: object
                title: VerificationJob
                properties:
                  verificationId:
                    type: string
                    format: uuid
                required:
                - verificationId
        '400':
          description: Bad request from the client
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: unsupported_chain
                    message: The chain with chainId 9429413 is not supported
                    errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
        '409':
          description: The contract is already verified
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                already_verified:
                  value:
                    customCode: already_verified
                    message: Contract 0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512 on chain 31337 is already verified with runtimeMatch and creationMatch both being exact matches.
                    errorId: 23aaf52e-168a-4cfa-8463-65ddfb792efc
        '429':
          description: The contract is already being verified
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                duplicate_verification_request:
                  value:
                    customCode: duplicate_verification_request
                    message: Contract 0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512 on chain 31337 is already being verified.
                    errorId: 23aaf52e-168a-4cfa-8463-65ddfb792efc
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: internal_error
                    message: Something went wrong
                    errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
  /v2/verify/{verificationId}:
    get:
      tags:
      - Verification Jobs
      summary: Check verification job status
      description: 'Endpoint to get the status of a verification job.


        Alternatively you can directly check the verification status of a contract with with chainId+address at `GET /v2/contract/{chainId}/{address}`'
      operationId: verification-status
      parameters:
      - name: verificationId
        in: path
        description: Verification Job ID returned from the server for a verification request.
        required: true
        schema:
          type: string
          format: uuid
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          minLength: 36
          maxLength: 36
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: 'The verification job completed either with success or failure. This endpoint returns `200` even if the verification job fails. Check the `contract.match` field and `error` for verification statuses.


            If the job is not completed yet (i.e. pending), the `isJobCompleted` will be false.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                - type: object
                  properties:
                    isJobCompleted:
                      type: boolean
                    verificationId:
                      type: string
                      format: uuid
                    error:
                      allOf:
                      - examples:
                        - customCode: no_match
                          message: The onchain and recompiled bytecodes don't match.
                          errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
                          recompiledCreationCode: '0x608060405234801561001057600080fd5b5060043610610036570565b6000819050919050565b600080fd5b61010c816100f4565b811461011757600080fd5b5056fea264697066735821220404e37f487a89a932dca5e77faaf6ca2de3b991f93d230604b1b8daaef64766264736f6c63430008070033'
                          recompiledRuntimeCode: '0x608060405234801561001057600080fd5b5060043610610036570565b6000819050919050565b600080fd5b61010c816100f4565b811461011757600080fd5b5056fea264697066735821220404e37f487a89a932dca5e77faaf6ca2de3b991f93d230604b1b8daaef64766264736f6c63430008070033'
                          onchainCreationCode: '0x608060405234801561001057600080fd5b5060043610610036570565b6000819050919050565b600080fd5b61010c816100f4565b811461011757600080fd5b5056fea264697066735821220404e37f487a89a932dca5e77faaf6ca2de3b991f93d230604b1b8daaef64766264736f6c63430008070034'
                          onchainRuntimeCode: '0x608060405234801561001057600080fd5b5060043610610036570565b6000819050919050565b600080fd5b61010c816100f4565b811461011757600080fd5b5056fea264697066735821220404e37f487a89a932dca5e77faaf6ca2de3b991f93d230604b1b8daaef64766264736f6c63430008070034'
                          creationTransactionHash: '0xb6ee9d528b336942dd70d3b41e2811be10a473776352009fd73f85604f5ed206'
                        allOf:
                        - type: object
                          title: GenericErrorResponse
                          properties:
                            customCode:
                              type: string
                              description: A string token to indicate the reason of the error
                              example: unsupported_chain
                            message:
                              type: string
                              description: The reasoning of the error
                              example: The chain with chainId 3153212 is not supported for verification
                            errorId:
                              type: string
                              format: uuid
                          required:
                          - customCode
                          - message
                          - errorId
                          examples:
                          - customCode: unsupported_chain
                            message: The chain with chainId 9429413 is not supported
                            errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
                        - type: object
                          properties:
                            recompiledCreationCode:
                              type: string
                              title: BytecodeString
                              pattern: ^0x([0-9|a-f][0-9|a-f])*$
                              example: '0x608060405234801561001057600080fd5b5060043610610036570565b6000819050919050565b600080fd5b61010c816100f4565b811461011757600080fd5b5056fea264697066735821220404e37f487a89a932dca5e77faaf6ca2de3b991f93d230604b1b8daaef64766264736f6c63430008070033'
                            recompiledRuntimeCode:
                              type: string
                              title: BytecodeString
                              pattern: ^0x([0-9|a-f][0-9|a-f])*$
                              example: '0x608060405234801561001057600080fd5b5060043610610036570565b6000819050919050565b600080fd5b61010c816100f4565b811461011757600080fd5b5056fea264697066735821220404e37f487a89a932dca5e77faaf6ca2de3b991f93d230604b1b8daaef64766264736f6c63430008070033'
                            onchainCreationCode:
                              type: string
                              title: BytecodeString
                              pattern: ^0x([0-9|a-f][0-9|a-f])*$
                              example: '0x608060405234801561001057600080fd5b5060043610610036570565b6000819050919050565b600080fd5b61010c816100f4565b811461011757600080fd5b5056fea264697066735821220404e37f487a89a932dca5e77faaf6ca2de3b991f93d230604b1b8daaef64766264736f6c63430008070033'
                            onchainRuntimeCode:
                              type: string
                              title: BytecodeString
                              pattern: ^0x([0-9|a-f][0-9|a-f])*$
                              example: '0x608060405234801561001057600080fd5b5060043610610036570565b6000819050919050565b600080fd5b61010c816100f4565b811461011757600080fd5b5056fea264697066735821220404e37f487a89a932dca5e77faaf6ca2de3b991f93d230604b1b8daaef64766264736f6c63430008070033'
                            creationTransactionHash:
                              type: string
                              title: Keccak256
                              pattern: (\b0x[a-f0-9]{64}\b)
                              example: '0xb6ee9d528b336942dd70d3b41e2811be10a473776352009fd73f85604f5ed206'
                            errorData:
                              type: object
                      - description: Optional, when the verification fails for some reason.
                    jobStartTime:
                      type: string
                      format: date-time
                    jobFinishTime:
                      type: string
                    compilationTime:
                      type: string
                      description: Time it took to compile the contract on the server in milliseconds.
                      example: '1333'
                    externalVerifications:
                      type: object
                      description: Links to external verification status endpoints on Etherscan-alike services.
                      properties:
                        etherscan:
                          type: object
                          description: Status metadata for the verification job mirrored on an external explorer API.
                          properties:
                            verificationId:
                              type: string
                              description: Identifier returned by the external verifier when the job was created.
                              example: x3ryqcqr1zdknhfhkimqmizlcqpxncqc6nrvp3pgrcpfsqedqi
                            error:
                              type: string
                              description: Error message returned by the external verifier. Present when the verification failed.
                              example: 'NOTOK: Max rate limit reached'
                            statusUrl:
                              type: string
                              format: uri
                              description: Direct URL to query the verification status from the explorer API.
                              example: https://api.etherscan.io/v2/api?chainid=1&module=contract&action=checkverifystatus&guid=x3ryqcqr1zdknhfhkimqmizlcqpxncqc6nrvp3pgrcpfsqedqi
                            explorerUrl:
                              type: string
                              format: uri
                              description: Direct URL to the block explorer page for the contract
                              example: https://etherscan.io/address/0x0D41E0B7bbdEBDBc684020dcb64ADe76C0338222#code
                        blockscout:
                          type: object
                          description: Status metadata for the verification job mirrored on an external explorer API.
                          properties:
                            verificationId:
                              type: string
                              description: Identifier returned by the external verifier when the job was created.
                              example: x3ryqcqr1zdknhfhkimqmizlcqpxncqc6nrvp3pgrcpfsqedqi
                            error:
                              type: string
                              description: Error message returned by the external verifier. Present when the verification failed.
                              example: 'NOTOK: Max rate limit reached'
                            statusUrl:
                              type: string
                              format: uri
                              description: Direct URL to query the verification status from the explorer API.
                              example: https://api.etherscan.io/v2/api?chainid=1&module=contract&action=checkverifystatus&guid=x3ryqcqr1zdknhfhkimqmizlcqpxncqc6nrvp3pgrcpfsqedqi
                            explorerUrl:
                              type: string
                              format: uri
                              description: Direct URL to the block explorer page for the contract
                              example: https://etherscan.io/address/0x0D41E0B7bbdEBDBc684020dcb64ADe76C0338222#code
                        routescan:
                          type: object
                          description: Status metadata for the verification job mirrored on an external explorer API.
                          properties:
                            verificationId:
                              type: string
                              description: Identifier returned by the external verifier when the job was created.
                              example: x3ryqcqr1zdknhfhkimqmizlcqpxncqc6nrvp3pgrcpfsqedqi
                            error:
                              type: string
                              description: Error message returned by the external verifier. Present when the verification failed.
                              example: 'NOTOK: Max rate limit reached'
                            statusUrl:
                              type: string
                              format: uri
                              description: Direct URL to query the verification status from the explorer API.
                              example: https://api.etherscan.io/v2/api?chainid=1&module=contract&action=checkverifystatus&guid=x3ryqcqr1zdknhfhkimqmizlcqpxncqc6nrvp3pgrcpfsqedqi
                            explorerUrl:
                              type: string
                              format: uri
                              description: Direct URL to the block explorer page for the contract
                              example: https://etherscan.io/address/0x0D41E0B7bbdEBDBc684020dcb64ADe76C0338222#code
                  required:
                  - isJobCompleted
                  - verificationId
                - type: object
                  properties:
                    contract:
                      type: object
                      title: VerifiedContractMinimal
                      properties:
                        match:
                          type: string
                          enum:
                          - match
                          - exact_match
                          - null
                          title: VerificationStatusNullable
                        creationMatch:
                          type: string
                          enum:
                          - match
                          - exact_match
                          - null
                          title: VerificationStatusNullable
                        runtimeMatch:
                          type: string
                          enum:
                          - match
                          - exact_match
                          - null
                          title: VerificationStatusNullable
                        chainId:
                          type: string
                          title: ChainId
                          pattern: ^\d+$
                          minLength: 1
                          maxLength: 20
                          example: '11155111'
                        address:
                          type: string
                          title: Address
                          description: Contract Address in hex string. Can be checksummed or not (i.e. can contain capital letters)
                          pattern: (\b0x[a-fA-F0-9]{40}\b)
                          example: '0xDFEBAd708F803af22e81044aD228Ff77C83C935c'
                        verifiedAt:
                          type: string
                          format: date-time
                          example: '2024-07-24T12:00:00Z'
                        matchId:
                          type: string
                          example: '3266227'
                      required:
                      - match
                      - creationMatch
                      - runtimeMatch
                      - chainId
                      - address
              examples:
                Success:
                  value:
                    isJobCompleted: true
                    verificationId: 72d12273-0723-448e-a9f6-f7957128efa5
                    jobStartTime: '2024-07-24T11:00:00Z'
                    jobFinishTime: '2024-07-24T12:00:00Z'
                    compilationTime: '1333'
                    contract:
                      match: match
                      creationMatch: match
                      runtimeMatch: match
                      chainId: '11155111'
                      address: '0xDFEBAd708F803af22e81044aD228Ff77C83C935c'
                      verifiedAt: '2024-07-24T12:00:00Z'
                      matchId: '3266227'
                Pending:
                  value:
                    isJobCompleted: false
                    verificationId: 72d12273-0723-448e-a9f6-f7957128efa5
                    jobStartTime: '2024-07-24T12:00:00Z'
                    contract:
                      match: null
                      creationMatch: null
                      runtimeMatch: null
                      chainId: '11155111'
                      address: '0xDFEBAd708F803af22e81044aD228Ff77C83C935c'
                Error:
                  value:
                    isJobCompleted: true
                    verificationId: 249c2f4b-af6c-46a7-a72e-d079da70ac0e
                    jobStartTime: '2025-05-20T07:24:00Z'
                    jobFinishTime: '2025-05-20T07:24:08Z'
                    contract:
                      match: null
                      creationMatch: null
                      runtimeMatch: null
                      chainId: '31337'
                      address: '0x5FbDB2315678afecb367f032d93F642f64180aa3'
                    error:
                      customCode: compiler_error
                      message: 'Compile error. [{"component":"general","errorCode":"2314","formattedMessage":"ParserError: Expected '';'' but got ''{''\n --> project:/contracts/Storage.sol:9:17:\n  |\n9 | contrat Storage {\n  |                 ^\n\n","message":"Expected '';'' but got ''{''","severity":"error","sourceLocation":{"end":158,"file":"project:/contracts/Storage.sol","start":157},"type":"ParserError"}]'
                      errorId: f319b7fc-0286-4c23-bf1f-75996419a2ce
                      onchainRuntimeCode: '0x6080604052348015600f57600080fd5b506004361060325760003560e01c80632e64cec11460375780636057361d146051575b600080fd5b603d6069565b6040516048919060c2565b60405180910390f35b6067600480360381019060639190608f565b6072565b005b60008054905090565b8060008190555050565b60008135905060898160e5565b92915050565b60006020828403121560a057600080fd5b600060ac84828501607c565b91505092915050565b60bc8160db565b82525050565b600060208201905060d5600083018460b5565b92915050565b6000819050919050565b60ec8160db565b811460f657600080fd5b5056fea264697066735822122005183dd5df276b396683ae62d0c96c3a406d6f9dad1ad0923daf492c531124b164736f6c63430008040033'
                      creationTransactionHash: '0xdd419b049534d2ead35de292ce73f3a9d9ecad33cdc1da1cae1d9fa3a86c74e1'
                      errorData:
                        compilerErrors:
                        - component: general
                          errorCode: '2314'
                          formattedMessage: "ParserError: Expected ';' but got '{'\n --> project:/contracts/Storage.sol:9:17:\n  |\n9 | contrat Storage {\n  |                 ^\n\n"
                          message: Expected ';' but got '{'
                          severity: error
                          sourceLocation:
                            end: 158
                            file: project:/contracts/Storage.sol
                            start: 157
                          type: ParserError
        '404':
          description: The job is not found with this ID
          content:
            application/json:
              schema:
                type: object
                title: GenericErrorResponse
                properties:
                  customCode:
                    type: string
                    description: A string token to indicate the reason of the error
                    example: unsupported_chain
                  message:
                    type: string
                    description: The reasoning of the error
                    example: The chain with chainId 3153212 is not supported for verification
                  errorId:
                    type: string
                    format: uuid
                required:
                - customCode
                - message
                - errorId
                examples:
                - customCode: unsupported_chain
                  message: The chain with chainId 9429413 is not supported
                  errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
              examples:
                Example 1:
                  value:
                    customCode: job_not_found
                    message: The verification job with id 461157eb-e4ea-4c5f-9aec-04c56924fd96 was not found
                    errorId: 1ac6b91a-0605-4459-93dc-18f210a70192
  /v2/contract/{chainId}/{address}:
    get:
      tags:
      - Contract Lookup
      summary: Get verified contract
      description: 'By default returns minimal information about the contract: `match`, `creation_match`, `runtime_match`, `chainId`, `address`, and `verifiedAt`


        To get other details one can either list the fields requested in the `fields` query param or ask all fields but omit several with `omit`. To get everything just pass `fields=all`.'
      operationId: get-contract
      parameters:
      - name: fields
        in: query
        description: Comma seperated fields to include in the response. Can also take `all`
        allowReserved: true
        schema:
          type: string
          example: abi,metadata,creationBytecode.onchainBytecode,deployment.blockNumber,compilation
      - name: omit
        in: query
        description: Comma seperated fields to NOT include in the response. All fields except matching ones will be returned. Can't be used simultanously with `fields`.
        allowReserved: true
        schema:
          type: string
          example: userdoc,devdoc,storageLayout,transientStorageLayout,compilation.sources
      - name: chainId
        in: path
        description: The chainId number of the EVM chain
        required: true
        schema:
          type: string
          pattern: ^\d+$
          minLength: 1
          maxLength: 20
          example: '11155111'
      - name: address
        in: path
        description: Contract's 20 byte address in hex string with the 0x prefix. Case insensitive.
        required: true
        schema:
          type: string
          pattern: (\b0x[a-fA-F0-9]{40}\b)
          minLength: 42
          maxLength: 42
          example: '0x2738d13E81e30bC615766A0410e7cF199FD59A83'
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - type: object
                  title: VerifiedContractMinimal
                  properties:
                    match:
                      type: string
                      enum:
                      - match
                      - exact_match
                      - null
                      title: VerificationStatusNullable
                    creationMatch:
                      type: string
                      enum:
                      - match
                      - exact_match
                      - null
                      title: VerificationStatusNullable
                    runtimeMatch:
                      type: string
                      enum:
                      - match
                      - exact_match
                      - null
                      title: VerificationStatusNullable
                    chainId:
                      type: string
                      title: ChainId
                      pattern: ^\d+$
                      minLength: 1
                      maxLength: 20
                      example: '11155111'
                    address:
                      type: string
                      title: Address
                      description: Contract Address in hex string. Can be checksummed or not (i.e. can contain capital letters)
                      pattern: (\b0x[a-fA-F0-9]{40}\b)
                      example: '0xDFEBAd708F803af22e81044aD228Ff77C83C935c'
                    verifiedAt:
                      type: string
                      format: date-time
                      example: '2024-07-24T12:00:00Z'
                    matchId:
                      type: string
                      example: '3266227'
                  required:
                  - match
                  - creationMatch
                  - runtimeMatch
                  - chainId
                  - address
                - type: object
                  properties:
                    creationBytecode:
                      type: object
                      title: CreationBytecodeResponse
                      properties:
                        onchainBytecode:
                          type: string
                          title: BytecodeString
                          pattern: ^0x([0-9|a-f][0-9|a-f])*$
                          example: '0x608060405234801561001057600080fd5b5060043610610036570565b6000819050919050565b600080fd5b61010c816100f4565b811461011757600080fd5b5056fea264697066735821220404e37f487a89a932dca5e77faaf6ca2de3b991f93d230604b1b8daaef64766264736f6c63430008070033'
                        recompiledBytecode:
                          type: string
                          title: BytecodeString
                          pattern: ^0x([0-9|a-f][0-9|a-f])*$
                          example: '0x608060405234801561001057600080fd5b5060043610610036570565b6000819050919050565b600080fd5b61010c816100f4565b811461011757600080fd5b5056fea264697066735821220404e37f487a89a932dca5e77faaf6ca2de3b991f93d230604b1b8daaef64766264736f6c63430008070033'
                        sourceMap:
                          description: Solidity source maps are strings, Vyper source maps are objects.
                          oneOf:
                          - type: string
                          - type: object
                        linkReferences:
                          type: object
                          title: LinkReferences
                          properties:
                            id:
                              type: object
                              additionalProperties:
                                type: object
                                additionalProperties:
                                  type: array
                                  items:
                                    type: object
                                    title: LinkReference
                                    properties:
                                      start:
                                        type: integer
                                      length:
                                        type: string
                                    examples:
                                    - start: 3078
                                      length: 20
                          examples:
                          - contracts/AmplificationUtils.sol:
                              AmplificationUtils:
                              - start: 3078
                                length: 20
                            contracts/SwapUtils.sol:
                              SwapUtils:
                              - start: 2931
                                length: 20
                        cborAuxdata:
                          allOf:
                          - type: object
                            title: CborAuxdataObject
                            additionalProperties:
                              type: object
                              properties:
                                value:
                                  type: string
                                  example: '0xa26469706673582212201e80049ede18eadf4ab7f0dea2c32f2375c33b5aef0b1a16cc5223dbc681559364736f6c63430007060033'
                                offset:
                                  type: integer
                                  example: 5471
                            examples:
                            - '1':
                                value: '0xa2646970667358221220d6808f0352d5e503f1f878b19b1bf46c893bac1e20b3c51884efb58a87435b5564736f6c634300080a0033'
                                offset: 18685
                              '2':
                                value: '0xa264697066735822122017bf4253b73b339897d7c117916781f30b434e6caa783b20eb15065469814dcf64736f6c634300080a0033'
                                offset: 18465
                          - description: CborAuxdata that is found on the recompiled bytecode.
                        transformations:
                          type: array
                          title: CreationTransformations
                          examples:
                          - - id: '1'
                              type: replace
                              offset: 18040
                              reason: cborAuxdata
                            - type: insert
                              offset: 6183
                              reason: constructorArguments
                            - id: sources/lib/MyLib.sol:MyLib
                              type: replace
                              offset: 582
                              reason: library
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Does not exist on `constructorArguments`. Used to find the corresponding value of the Transformation in the TransformationValues dictionary
                              type:
                                type: string
                                enum:
                                - replace
                                - insert
                                description: '`insert` when the transformation value is appended to the bytecode e.g. constructor arguments'
                              offset:
                                type: integer
                                example: 1322
                              reason:
                                type: string
                                enum:
                                - cborAuxdata
                                - library
                                - constructorArguments
                                description: 'Keep in mind the `library` reason is singular here but plural in the TransformationValues dictionary: `libraries`'
                            required:
                            - type
                            - offset
                            - reason
                        transformationValues:
                          type: object
                          title: CreationTransformationValues
                          properties:
                            libraries:
                              type: object
                              additionalProperties:
                                type: string
                                title: AddressLowercase
                                description: Contract Address in hex string
                                pattern: (\b0x[a-f0-9]{40}\b)
                                example: '0x40b70a4904fad0ff86f8c901b231eac759a0ebb0'
                            constructorArguments:
                              type: string
                              title: HexString
                              pattern: ^0x([0-9|a-f][0-9|a-f])*$
                              example: '0x1a2b3c4d'
                            cborAuxdata:
                              type: object
                              description: "Different format than the `cborAuxdata` field under the bytecode object. \n\nWill be here only if there was a transformation on the cborAuxdata. If cborAuxdatas matched, there won't be a transformation."
                              additionalProperties:
                                type: string
                                title: HexString
                                pattern: ^0x([0-9|a-f][0-9|a-f])*$
                                example: '0x1a2b3c4d'
                          examples:
                          - libraries:
                              sources/lib/MyLib.sol:MyLib: '0x40b70a4904fad0ff86f8c901b231eac759a0ebb0'
                            constructorArguments: '0x00000000000000000000000085fe79b998509b77bf10a8bd4001d58475d29386'
                            cborAuxdata:
                              '0': '0xa26469706673582212201c37bb166aa1bc4777a7471cda1bbba7ef75600cd859180fa30d503673b99f0264736f6c63430008190033'
                    runtimeBytecode:
                      type: object
                      title: RuntimeBytecodeResponse
                      properties:
                        onchainBytecode:
                          type: string
                          title: BytecodeString
                          pattern: ^0x([0-9|a-f][0-9|a-f])*$
                          example: '0x608060405234801561001057600080fd5b5060043610610036570565b6000819050919050565b600080fd5b61010c816100f4565b811461011757600080fd5b5056fea264697066735821220404e37f487a89a932dca5e77faaf6ca2de3b991f93d230604b1b8daaef64766264736f6c63430008070033'
                        recompiledBytecode:
                          type: string
                          title: BytecodeString
                          pattern: ^0x([0-9|a-f][0-9|a-f])*$
                          example: '0x608060405234801561001057600080fd5b5060043610610036570565b6000819050919050565b600080fd5b61010c816100f4565b811461011757600080fd5b5056fea264697066735821220404e37f487a89a932dca5e77faaf6ca2de3b991f93d230604b1b8daaef64766264736f6c63430008070033'
                        sourceMap:
                          description: Solidity source maps are strings, Vyper source maps are objects.
                          oneOf:
                          - type: string
                          - type: object
                        linkReferences:
                          type: object
                          title: LinkReferences
                          properties:
                            id:
                              type: object
                              additionalProperties:
                                type: object
                                additionalProperties:
                                  type: array
                                  items:
                                    type: object
                                    title: LinkReference
                                    properties:
                                      start:
                                        type: integer
                                      length:
                                        type: string
                                    examples:
                                    - start: 3078
                                      length: 20
                          examples:
                          - contracts/AmplificationUtils.sol:
                              AmplificationUtils:
                              - start: 3078
                                length: 20
                            contracts/SwapUtils.sol:
                              SwapUtils:
                              - start: 2931
                                length: 20
                        cborAuxdata:
                          allOf:
                          - type: object
                            title: CborAuxdataObject
                            additionalProperties:
                              type: object
                              properties:
                                value:
                                  type: string
                                  example: '0xa26469706673582212201e80049ede18eadf4ab7f0dea2c32f2375c33b5aef0b1a16cc5223dbc681559364736f6c63430007060033'
                                offset:
                                  type: integer
                                  example: 5471
                            examples:
                            - '1':
                                value: '0xa2646970667358221220d6808f0352d5e503f1f878b19b1bf46c893bac1e20b3c51884efb58a87435b5564736f6c634300080a0033'
                                offset: 18685
                              '2':
                                value: '0xa264697066735822122017bf4253b73b339897d7c117916781f30b434e6caa783b20eb15065469814dcf64736f6c634300080a0033'
                                offset: 18465
                          - description: CborAuxdata that is found on the recompiled bytecode.
                        immutableReferences:
                          type: object
                          additionalProperties:
                            type: array
                            items:
                              type: object
                              title: ImmutableReference
                              properties:
                                start:
                                  type: integer
                                length:
                                  type: integer
                        transformations:
                          type: array
                          title: RuntimeTransformations
                          examples:
                          - - id: CriminalDogs.sol:SafeMath
                              type: replace
                              offset: 1863
                              reason: library
                            - id: '1'
                              type: replace
                              offset: 2747
                              reason: cborAuxdata
                            - id: '1466'
                              type: replace
                              offset: 18703
                              reason: immutable
                            - id: '1466'
                              type: replace
                              offset: 18939
                              reason: immutable
                            - type: replace
                              offset: 1
                              reason: callProtection
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Does not exist on `callProtection`. Used to find the corresponding value of the Transformation in the TransformationValues dictionary
                              type:
                                const: replace
                                description: Runtime bytecode transformations won't have `insert`, because runtime does not have constructor arguments to be appended.
                              offset:
                                type: integer
                                example: 1322
                              reason:
                                type: string
                                enum:
                                - cborAuxdata
                                - library
                                - immutable
                                - callProtection
                                description: 'Keep in mind the `library` and `immutable` reasons are singular here but plural in the TransformationValues dictionary: `libraries` and `immutables`'
                            required:
                            - type
                            - offset
                            - reason
                        transformationValues:
                          type: object
                          title: CreationTransformationValues
                          properties:
                            libraries:
                              type: object
                              additionalProperties:
                                type: string
                                title: AddressLowercase
                                description: Contract Address in hex string
                                pattern: (\b0x[a-f0-9]{40}\b)
                                example: '0x40b70a4904fad0ff86f8c901b231eac759a0ebb0'
                            immutables:
                              type: object
                              additionalProperties:
                                type: string
                                title: HexString
                                pattern: ^0x([0-9|a-f][0-9|a-f])*$
                                example: '0x1a2b3c4d'
                            cborAuxdata:
                              type: object
                              description: "Different format than the `cborAuxdata` field under the bytecode object. \n\nWill be here only if there was a transformation on the cborAuxdata. If cborAuxdatas matched, there won't be a transformation."
                              additionalProperties:
                                type: string
                                title: HexString
                                pattern: ^0x([0-9|a-f][0-9|a-f])*$
                                example: '0x1a2b3c4d'
                            callProtection:
                              type: string
                              title: AddressLowercase
                              description: Contract Address in hex string
                              pattern: (\b0x[a-f0-9]{40}\b)
                              example: '0x40b70a4904fad0ff86f8c901b231eac759a0ebb0'
                          examples:
                          - libraries:
                              contracts/order/OrderUtils.sol:OrderUtilsLib: '0x40b70a4904fad0ff86f8c901b231eac759a0ebb0'
                            immutables:
                              '1466': '0x000000000000000000000000000000007f56768de3133034fa730a909003a165'
                            cborAuxdata:
                              '1': '0xa26469706673582212201c37bb166aa1bc4777a7471cda1bbba7ef75600cd859180fa30d503673b99f0264736f6c63430008190033'
                            callProtection: '0x9deba23b95205127e906108f191a26f5d520896a'
                    deployment:
                      type: object
                      properties:
                        transactionHash:
                          type: string
                          title: Keccak256
                          pattern: (\b0x[a-f0-9]{64}\b)
                          example: '0xb6ee9d528b336942dd70d3b41e2811be10a473776352009fd73f85604f5ed206'
                        blockNumber:
                          type: string
                          example: '21721660'
                        transactionIndex:
                          type: string
                          example: '3'
                        deployer:
                          type: string
                          title: Address
                          description: Contract Address in hex string. Can be checksummed or not (i.e. can contain capital letters)
                          pattern: (\b0x[a-fA-F0-9]{40}\b)
                          example: '0xDFEBAd708F803af22e81044aD228Ff77C83C935c'
                    sources:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          content:
                            type: string
                    compilation:
                      type: object
                      properties:
                        language:
                          type: string
                          enum:
                          - Solidity
                          - Vyper
                          - Fe
                          title: Language
                          default: Solidity
                        compiler:
                          type: string
                          example: solc
                        compilerVersion:
                          allOf:
                          - type: string
                            title: CompilerVersion
                            pattern: ^v?\d+\.\d+\.\d+.*$
                            example: 0.8.7+commit.e28d00a7
                          - description: The server accepts v prefixed but should only respond without the v prefix
                        compilerSettings:
                          type: object
                        name:
                          type: string
                          example: MyContract
                        fullyQualifiedName:
                          type: string
                          example: contracts/MyContract.sol:MyContract
                    abi:
                      type: array
                      items:
                        type: object
                    metadata:
                      type: object
                    storageLayout:
                      type: object
                      description: 'Storage layout of the contract. Format differs by language: Solidity uses `{storage: [...], types: {...}}`, Vyper uses `{variableName: {type, slot, n_slots}}`.'
                    transientStorageLayout:
                      type: object
                    userdoc:
                      type: object
                    devdoc:
                      type: object
                    sourceIds:
                      type: object
                      description: Same as stdJsonOutput.sources
                      additionalProperties:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: The AST IDs of the sources
                    additionalInput:
                      type: object
                      nullable: true
                      description: Additional compiler input fields from the top level of the standard JSON input that are not part of `settings`. Currently contains Vyper's `storage_layout_overrides` when used.
                      properties:
                        storage_layout_overrides:
                          type: object
                          description: Vyper storage layout overrides. Keys are source file paths, values map variable names to their storage slot configuration.
                          additionalProperties:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                type:
                                  type: string
                                slot:
                                  type: integer
                                n_slots:
                                  type: integer
                    stdJsonInput:
                      type: object
                      description: The input fields conforming the compiler standard-JSON format.
                      properties:
                        language:
                          type: string
                          enum:
                          - Solidity
                          - Vyper
                          - Fe
                          title: Language
                          default: Solidity
                        sources:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              content:
                                type: string
                              keccak256:
                                type: string
                                title: Keccak256
                                pattern: (\b0x[a-f0-9]{64}\b)
                                example: '0xb6ee9d528b336942dd70d3b41e2811be10a473776352009fd73f85604f5ed206'
                        settings:
                          type: object
                    stdJsonOutput:
                      type: object
                      description: The outputs conforming the compiler standard JSON format
                      properties:
                        sources:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: The AST IDs of the sources
                        contracts:
                          type: object
                          description: 'Contracts output in the standard JSON format.


                            This will only contain the entry for the compilaton target contract, even if the `outputSelection` was `*`.'
                          additionalProperties:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                abi:
                                  type: array
                                  items:
                                    type: object
                                userdoc:
                                  type: object
                                devdoc:
                                  type: object
                                storageLayout:
                                  type: object
                                  description: 'Storage layout of the contract. Format differs by language: Solidity uses `{storage: [...], types: {...}}`, Vyper uses `{variableName: {type, slot, n_slots}}`.'
                                transientStorageLayout:
                                  type: object
                                metadata:
                                  type: string
                                  description: Serialized JSON string
                                evm:
                                  type: object
                                  properties:
                                    bytecode:
                                      type: object
                                      description: In Sourcify we refer to this field more explicitly as "creation bytecode"
                                      properties:
                                        sourceMap:
                                          description: Solidity source maps are strings, Vyper source maps (>= 0.4.0) are objects.
                                          oneOf:
                                          - type: string
                                          - type: object
                                        linkReferences:
                                          type: object
                                          title: LinkReferences
                                          properties:
                                            id:
                                              type: object
                                              additionalProperties:
                                                type: object
                                                additionalProperties:
                                                  type: array
                                                  items:
                                                    type: object
                                                    title: LinkReference
                                                    properties:
                                                      start:
                                                        type: integer
                                                      length:
                                                        type: string
                                                    examples:
                                                    - start: 3078
                                                      length: 20
                                          examples:
                                          - contracts/AmplificationUtils.sol:
                                              AmplificationUtils:
                                              - start: 3078
                                                length: 20
                                            contracts/SwapUtils.sol:
                                              SwapUtils:
                                              - start: 2931
                                                length: 20
                                        object:
                                          allOf:
                                          - type: string
                                            title: HexStringWithout0x
                                            pattern: ^([0-9|a-f][0-9|a-f])*$
                                            example: 1a2b3c4d
                                          - description: Without the 0x prefix, as in the compiler output format
                                    deployedBytecode:
                                      type: object
                                      description: In Sourcify we refer to this field more explicitly as "runtime bytecode"
                                      properties:
                                        sourceMap:
                                          description: Solidity source maps are strings, Vyper source maps (>= 0.3.8) are objects.
                                          oneOf:
                                          - type: string
                                          - type: object
                                        linkReferences:
                                          type: object
                                          title: LinkReferences
                                          properties:
                                            id:
                                              type: object
                                              additionalProperties:
                                                type: object
                                                additionalProperties:
                                                  type: array
                                                  items:
                                                    type: object
                                                    title: LinkReference
                                                    properties:
                                                      start:
                                                        type: integer
                                                      length:
                                                        type: string
                                                    examples:
                                                    - start: 3078
                                                      length: 20
                                          examples:
                                          - contracts/AmplificationUtils.sol:
                                              AmplificationUtils:
                                              - start: 3078
                                                length: 20
                                            contracts/SwapUtils.sol:
                                              SwapUtils:
                                              - start: 2931
                                                length: 20
                                        object:
                                          allOf:
                                          - type: string
                                            title: HexStringWithout0x
                                            pattern: ^([0-9|a-f][0-9|a-f])*$
                                            example: 1a2b3c4d
                                          - description: Without the 0x prefix, as in the compiler output format
                                        immutableReferences:
                                          type: object
                                          additionalProperties:
                                            type: object
                    signatures:
                      type: object
                      description: The signatures of the contract grouped by type (function, event, error).
                      properties:
                        function:
                          type: array
                          description: Function signatures
                          items:
                            type: object
                            title: SignatureRepresentations
                            description: The text form and hash representations of a signature
                            properties:
                              signature:
                                type: string
                                description: The human-readable signature
                                example: transfer(address,uint256)
                              signatureHash32:
                                type: string
                                pattern: ^0x[a-f0-9]{64}$
                                description: The full 32-byte keccak256 hash of the signature
                                example: '0xa9059cbb2ab09eb219583f4a59a5d0623ade346d962bcd4e46b11da047c9049b'
                              signatureHash4:
                                type: string
                                pattern: ^0x[a-f0-9]{8}$
                                description: The 4-byte selector (first 4 bytes of the 32-byte hash)
                                example: '0xa9059cbb'
                            required:
                            - signature
                            - signatureHash32
                            - signatureHash4
                        event:
                          type: array
                          description: Event signatures
                          items:
                            type: object
                            title: SignatureRepresentations
                            description: The text form and hash representations of a signature
                            properties:
                              signature:
                                type: string
                                description: The human-readable signature
                                example: transfer(address,uint256)
                              signatureHash32:
                                type: string
                                pattern: ^0x[a-f0-9]{64}$
                                description: The full 32-byte keccak256 hash of the signature
                                example: '0xa9059cbb2ab09eb219583f4a59a5d0623ade346d962bcd4e46b11da047c9049b'
                              signatureHash4:
                                type: string
                                pattern: ^0x[a-f0-9]{8}$
                                description: The 4-byte selector (first 4 bytes of the 32-byte hash)
                                example: '0xa9059cbb'
                            required:
                            - signature
                            - signatureHash32
                            - signatureHash4
                        error:
                          type: array
                          description: Error signatures
                          items:
                            type: object
                            title: SignatureRepresentations
                            description: The text form and hash representations of a signature
                            properties:
                              signature:
                                type: string
                                description: The human-readable signature
                                example: transfer(address,uint256)
                              signatureHash32:
                                type: string
                                pattern: ^0x[a-f0-9]{64}$
                                description: The full 32-byte keccak256 hash of the signature
                                example: '0xa9059cbb2ab09eb219583f4a59a5d0623ade346d962bcd4e46b11da047c9049b'
                              signatureHash4:
                                type: string
                                pattern: ^0x[a-f0-9]{8}$
                                description: The 4-byte selector (first 4 bytes of the 32-byte hash)
                                example: '0xa9059cbb'
                            required:
                            - signature
                            - signatureHash32
                            - signatureHash4
                    proxyResolution:
                      type: object
                      title: ProxyResolution
                      properties:
                        isProxy:
                          type: boolean
                        proxyType:
                          type: string
                          enum:
                          - EIP1167Proxy
                          - FixedProxy
                          - EIP1967Proxy
                          - GnosisSafeProxy
                          - DiamondProxy
                          - PROXIABLEProxy
                          - ZeppelinOSProxy
                          - SequenceWalletProxy
                          - null
                          title: ProxyType
                        implementations:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: Only present if the implementation contract was verified by Sourcify
                              address:
                                type: string
                                title: Address
                                description: Contract Address in hex string. Can be checksummed or not (i.e. can contain capital letters)
                                pattern: (\b0x[a-fA-F0-9]{40}\b)
                                example: '0xDFEBAd708F803af22e81044aD228Ff77C83C935c'
                        proxyResolutionError:
                          type: object
                          title: GenericErrorResponse
                          properties:
                            customCode:
                              type: string
                              description: A string token to indicate the reason of the error
                              example: unsupported_chain
                            message:
                              type: string
                              description: The reasoning of the error
                              example: The chain with chainId 3153212 is not supported for verification
                            errorId:
                              type: string
                              format: uuid
                          required:
                          - customCode
                          - message
                          - errorId
                          examples:
[...]
