name: Update Node Tables

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  update-tables:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3 # v3.6.0
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags
          persist-credentials: true # Do not use the GITHUB_TOKEN for authentication

      - name: Install dependencies
        run: sudo apt-get install -y jq

      - name: Run update script
        run: |
          set -eux
          ./update_node_tables.sh

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add networks/mainnet/mainnet-nodes/README.md
          git commit -m "chore: update node tables" || echo "No changes to commit"
          git push
