name: Update Node Tables

on:
  push:
    branches:
      - update-release-notes

permissions:
  contents: write
  pull-requests: write

jobs:
  update-tables:
    runs-on: hashgraph-docs-linux-medium
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get install -y jq

      - name: Run update script
        run: ./update_node_tables.sh

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "chore: update node tables"
          sign-commits: true
          branch: update-node-tables
          title: "chore: update node tables"
          body: "Automated update of node tables."
          labels: automated-pr
          delete-branch: true
